{% extends 'base.html' %}
{% block title %}
Register
{% endblock %}
{% block content %}
<div class="max-w-4xl bg-gray-200 h-screen p-6 mx-auto">
    <div class="max-w-xs my-20 rounded-lg shadow-2xl mx-auto bg-white p-6">
        <h2 class="text-4xl text-slate-600 font-light">Sign Up</h2>
        <form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    {{form.non_field_errors }}
    <div class="mb-3"><label for="" class="text-xl block">Email</label>
      {{form.email}}
    </div>
    <div class="mb-3"><label for="" class="text-xl block">Password</label>
    {{form.password1}}
    </div>
    <div class="mb-3"><label for="" class="text-xl block">Repeat Password</label>
       {{form.password2}}
    </div>
    {% if form.errors or form.non_field_errors %}
    <div class="p-4 mb-3 bg-red-500 rounded-lg w-full text-white text-xm">
        {% for field in form %}
        <p class="">{{field.errors }}</p>
        {% endfor %}
    </div>
    {{form.non_field_errors}}
    {% endif %}
    <input type="submit" value="sign up" class="bg-blue-500 rounded-lg hover:bg-blue-700 px-6 py-4 text-sm text-white w-full">
</form>
</div>
</div> 
{% endblock %}